$StrongCyan: hsl(172, 67%, 45%);
$StrongCyan-Light: hsl(172, 41%, 68%);
$StrongCyan-OpHalf: hsla(172, 67%, 45%, 0.4);
$VeryDarkCyan: hsl(183, 100%, 15%);
$DarkGrayishCyan: hsl(186, 14%, 43%);
$GrayishCyan: hsl(184, 14%, 56%);
$BackGround: hsl(185, 41%, 84%);
$VeryLightGrayishCyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
$error: hsl(14, 51%, 67%);